<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122956323683-mgvlscenr907mq9632rlv4tosad36muj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122956323683-mgvlscenr907mq9632rlv4tosad36muj</string>
	<key>API_KEY</key>
	<string>AIzaSyB2mCMdYZvLl0zzY5a6gq5Z1rOETWWDCJw</string>
	<key>GCM_SENDER_ID</key>
	<string>122956323683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.test</string>
	<key>PROJECT_ID</key>
	<string>drain-app-database</string>
	<key>STORAGE_BUCKET</key>
	<string>drain-app-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122956323683:ios:fb5990e7cd2a9947d15156</string>
</dict>
</plist>